release/**/*.exe filter=lfs diff=lfs merge=lfs -text
release/**/*.zip filter=lfs diff=lfs merge=lfs -text
release/**/*.dll filter=lfs diff=lfs merge=lfs -text
release/**/*.pdb filter=lfs diff=lfs merge=lfs -text
